@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
    --black: rgb(0,0,0);
    --white: rgb(255,255,255);
    --purple: rgb(131,96,195);
    --purple1: rgb(39,29,59);
    --purple2: rgb(200,191,231);
    --green: rgb(48,188,146);
    --degrade_1: linear-gradient(46deg, var(--purple),var(--green));
    --green1: #5dfaf2;
    --purple3: #9a44cc;
    --purple4: #631894;
    --purple5: #271D3B;
    --purple6: #c3a6f1;
    --gray: #131212;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* barra de navegação */
nav
{
    padding: 30px;
}

nav .menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav .menu .img
{
    width: 120px;
    height: 20px;

}

nav .menu .navigation
{
    display: flex;
}
nav .menu li 
{
    list-style: none;
}

nav .menu li a
{
    text-decoration: none;
    color: var(--white);
    position: relative;
}

nav .menu .navigation li a::after
{
    content: " ";
    width: 0;
    height: 4px;
    background-image: var(--degrade_1);
    border-radius: 10px;
    position: absolute;
    top: 25px;
    left: 0;
    transition: width 0.5s;
}

nav .menu .navigation li a:hover::after
{
    width: 100%;
}


nav .menu .navigation li:not(:first-child)
{
    margin-left: 50px;
}

nav .menu .login
{
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, var(--green) 0%, var(--purple3) 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.menu .login:hover
{
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px var(--purple6);
    transform: translateY(-0.1em);
}

.menu .login:active
{
    box-shadow: inset 0px 0.1em 0.6em var(--purple4);
    transform: translateY(0em);
}

/* conteudo */

body
{
    background-color: var(--purple5);
}

/* conteudo inicial */

.inicial
{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 5% 19%;
}

.inicial-text
{
    color: white;
}

.inicial-text h1
{
    font-size: 30px;
    line-height: 1;
    margin: 0 0 45px;
    text-shadow: 0.1em 0.1em 0.05em var(--black);
}

.inicial-text p 
{
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
    text-align: justify;
}

.inicial .img-hack
{
    width: 350px;
    height: auto;
    margin-left: 100px;
   
}

.inicial-text a, .cursos .btn
{
    display: inline-block;
    color: black;
    background: var(--green1);
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    transition: all .55s ease;
}

.inicial-text a:hover, .cursos .btn:hover
{
    background: transparent;
    border: 1px solid white;
    color: white;
    transform: translateX(8px);
}

.inicial-text .btn2
{
    margin-left: 20px;
}

/* infohack */

.info
{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 5rem;
    align-items: center;
    padding: 30px 20%;
    background-color: #9a44cc;
}

.info-img img
{
    max-width: 100%;
    width: 450px;
    height: auto;
}

.info-text span
{
    color: #131212;
    font-weight: bold;
}

.info-text h2
{
    margin-top: 12px;
    text-shadow: 0.1em 0.1em 0.05em var(--black);
}

.info-text p
{
    margin: 0.8rem 0 2rem;
    line-height: 1.7;
    text-align: justify;
}

.info-text 
{
    color: white;
}

.info .btn
{
    display: inline-block;
    color: white;
    background: #271D3B;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    transition: all .55s ease;
}

.info .btn:hover
{
    background: transparent;
    border: 1px solid white;
    color: white;
    transform: translateX(8px);
}

/* cursos */

.cursos
{
    align-items: center;
    padding: 100px 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.cursos-text
{
    color: white;
}

.cursos-text p
{
    margin: 0.8rem 0 2rem;
    margin-top: 10px;
    line-height: 1.5;
    text-align: justify;
}

.cursos-text h2
{
    margin-top: 12px;
    text-shadow: 0.1em 0.1em 0.05em var(--black);
    margin-bottom: 10px;
    
}

.cursos .cards-curso
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem 0;
}

.cursos .card-curso
{
    background: transparent;
    border: 2px solid var(--white);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 120px;
    height: 100px;
    border-radius: 10px;
}

.cursos .card-curso .icone
{
    font-size: 50px;
}


/* depoimentos */

.depoimentos h1
{
    display: flex;
    justify-content: center;
    margin: 5rem 0 5rem 0;
    font-size: 20px;
    color: white;
    font-weight: 400;
}

.cards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 980px;
    margin: 0 auto;
    gap: 40px;
}

.card
{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px;
    box-shadow: 6px 6px 5px var(--gray);
    border-radius: 10px;
}

.card .user
{
    width: 100px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.depoimentos .card h3
{
    margin-bottom: 5px;
}

.depoimentos .star
{
    width: 20px;
}

.depoimentos p
{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}




/* rodapé */

footer
{
    bottom: 0;
}

.footer-distribuded
{
    background-color: var(--gray);
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
    color: var(--white);
    
}

.footer-distribuded .footer-left, .footer-distribuded .footer-center, .footer-distribuded .footer-right
{
    display: inline-block;
    vertical-align: top;
}

.footer-distribuded .footer-left
{
    width: 30%;
}

.footer-distribuded img
{
    width: 100px;
    margin: 0;
}

.footer-distribuded .footer-links
{
    margin: 20px 0 12px ;
}

.footer-distribuded .footer-links a
{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distribuded .footer-company-name
{
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distribuded .footer-center
{
    width: 35%;
}

.footer-distribuded .footer-center i
{
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distribuded .footer-center p 
{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.footer-distribuded .footer-center p span
{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distribuded .footer-center p a
{
    text-decoration: none;
    color: var(--white);
}

.footer-distribuded .footer-right
{
    width: 30%;
}

.footer-distribuded .footer-company-about 
{
    line-height: 20px;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    text-align: justify;
}

.footer-distribuded .footer-company-about span
{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distribuded .footer-icons
{
    margin-top: 25px;
}

.footer-distribuded .footer-icons a
{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    background-color: var(--purple4);
    font-size: 20px;
    text-align: center;
    margin-right: 3px;
    margin-bottom: 5px;
    line-height: 40px;
    color: var(--white);
}

.footer-distribuded .footer-icons a:hover
{
    background-color: var(--black);
}

.footer-links a:hover
{
    color: var(--green);
}

